<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
<title>企业网站实例</title>
<script type="text/javascript" src="js/vue.js" charset="utf-8"></script>

</head>
<body>
  <div class="app">
  <div id="app1">
    <p>{{message}}</p>
    <input v-model="message">
  </div>
  <div id="app2">
    <p>{{message}}</p>
    <input v-model="message">
  </div>
</div>
</body>
<script>
new Vue({
  el: '.app',
  data: {
    message: 'Hello Vue.js!'
  }
})


</script>
</html>
